streamlit==1.32.0
git+https://github.com/andfanilo/streamlit-drawable-canvas.git@main
streamlit-cropper==0.2.2
opencv-python-headless
numpy
Pillow
scikit-image
matplotlib
seaborn
scikit-learn
scipy
stqdm
prettytable
pandas