streamlit==1.32.0
git+https://github.com/lonespear/streamlit-drawable-canvas.git@monkeyfork-fix
streamlit-cropper==0.2.2
opencv-python-headless
numpy
Pillow
scikit-image
matplotlib
seaborn
scikit-learn
scipy
stqdm
prettytable
pandas