streamlit==1.25.0
streamlit-drawable-canvas==0.9.3
streamlit-cropper==0.2.2
opencv-python-headless
numpy
Pillow
scikit-image
matplotlib
seaborn
scikit-learn
scipy
stqdm
prettytable
pandas